 <div class="main-container">
  <div class="client-list">
    <table class="table">
      <thead>
        <tr>
          <th>Client ID</th>
          <th>First Name</th>
          <th>Second Name</th>
          <th>Last Name</th>
          <th>Identification Number</th>
          <th>Address</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients" (click)="showClientDetails(client)">
          <td>{{ client.clientID }}</td>
          <td>{{ client.firstName }}</td>
          <td>{{ client.secondName }}</td>
          <td>{{ client.lastName }}</td>
          <td>{{ client.identificationNumber }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 
