<div class="loginContainer">
  <mat-card>
    <div class="logo">
      <img src="../../../assets/cartrackLogo.png" alt="Logo">
    </div>
    <mat-card-header>
      <h2>LOGIN</h2>
    </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="submitLogin()">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Username" id="userNameInput" name="username" required [(ngModel)]="userData.userName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="Password" id="passwordInput" name="password" required [(ngModel)]="userData.password">
        </mat-form-field>
        <button  class="login" type="submit" [disabled]="loginForm.form.invalid">LOGIN</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>