<div class="main-container">
  <h2>
    AVAILABLE CAR LIST
  </h2>
  <table class="table">
    <thead>
      <tr>
        <th>Car Image</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Cylinder Capacity</th>
        <th>Color</th>
        <th>City</th>
        <th>SOAT Date</th>
        <th>Tecno Date</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars; let i = index">
        <td>
          <img [src]="car.carImages[0].ImageURL" alt="Car Image" class="car-image">
        </td>
        <td>{{ car.brand }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.year }}</td>
        <td>{{ car.cylinderCapacity }}</td>
        <td *ngIf="inEditModeIndex !==i" >{{ car.color }}</td>
        <td *ngIf="inEditModeIndex ===i">
          <input type="text" [(ngModel)]="car.color" name="color">
        </td>
        <td *ngIf="inEditModeIndex !==i">{{ car.city }}</td>
        <td *ngIf="inEditModeIndex ===i">
          <input type="text" [(ngModel)]="car.city" name="city">
        </td>
        <td *ngIf="inEditModeIndex !==i">{{ car.soatDate | date }}</td>
        <td *ngIf="inEditModeIndex ===i" class="input-td">
          <input type="date" [(ngModel)]="car.soatDate" name="soatDate">
        </td>
        <td *ngIf="inEditModeIndex !==i">{{ car.tecnoDate | date }}</td>
        <td *ngIf="inEditModeIndex ===i" class="input-td">
          <input type="date" [(ngModel)]="car.tecnoDate" name="tecnoDate">
        </td>
        <td>
          <!-- <button (click)="openModificationForm(car)">Update Car</button> -->
          <button *ngIf="inEditModeIndex !== i" (click)="enterEditMode(i)">Edit Car</button>
          <button *ngIf="inEditModeIndex === i" (click)="updateCar(car)">Save Changes</button>

        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div *ngIf="selectedCar" class="modification-form">
  <form (ngSubmit)="updateCar()">
    <label for="color">Color:</label>
    <input id="color" type="text" [(ngModel)]="selectedCar.color" name="color">
    <label for="city">City:</label>
    <input id="city" type="text" [(ngModel)]="selectedCar.city" name="city">
    <label for="soatDate">SOAT Date:</label>
    <mat-form-field>
      <input matInput [matDatepicker]="soatPicker" [(ngModel)]="selectedCar.soatDate" name="soatDate">
      <mat-datepicker-toggle matSuffix [for]="soatPicker"></mat-datepicker-toggle>
      <mat-datepicker #soatPicker></mat-datepicker>
    </mat-form-field>
    <label for="tecnoDate">Tecno Date:</label>
    <mat-form-field>
      <input matInput [matDatepicker]="tecnoPicker" [(ngModel)]="selectedCar.tecnoDate" name="tecnoDate">
      <mat-datepicker-toggle matSuffix [for]="tecnoPicker"></mat-datepicker-toggle>
      <mat-datepicker #tecnoPicker></mat-datepicker>
    </mat-form-field>
    <button type="submit">Guardar Cambios</button>
  </form>
</div> -->

